body {
}

/*#region Nav*/
nav a {
    font-weight: bold;
    color: darkblue;
}
nav li:hover {
    background-color: rgba(129, 104, 90, 0.27);
}

nav a:hover, nav a:active, nav a:focus {
    text-decoration: none;
}

nav ul {
    background-color: rgba(143, 101, 77, 0.6);
    padding: 0;
    border-top: .2em solid darkgrey;
    border-bottom: .2em solid darkgrey;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    padding: .3em 1em;
    display: block;
}

/*#endregion*/

/*#region footer*/
footer {
    background-color: rgba(143, 101, 77, 0.6);
    padding: .6em;
    border: solid;
    border-color: black;
    border-width: .2em;
}


/*#endregion footer*/

#choose {
    font: body;
    font-weight: 400;
}

.nav2 {
    padding: .1em;
}